.mobile-only {
    display: none;
}

.mobile-hide {
    display: block;
}

.article-body {
    padding-left: 96px;
}

.articles-block_v2 .articles-block__col.articles-block__col_r {
    margin-top: 30px;
}

.article__announce-wrapper a {
    text-decoration: underline;
}

article .article-body * {
    padding-left: 0;
}

article .article-body .article__keywords > a {
    padding: 4px 8px;
. article-body p
}

.top-articles .article-overlay {
    background: linear-gradient(to bottom, rgba(54, 56, 62, 0.1) 0%, #36383ed1 90%);
}

article .article-body .gallery-tile,
article .article-body .gallery-mosaic {
    /*margin-left: -96px;*/
}

iframe.instagram-media {
    max-width: 100%;
}

.gallery-mosaic__col-width,
.gallery-mosaic__item {
    width: 322px;
    margin-bottom: 20px;
}

.top-articles__bg-mobile {
    display: none;
}


@media screen and (max-width: 450px) {


    .top-articles__bg {
        display: none;
    }

    .top-articles__bg-mobile {
        display: block;
    }

}

@media screen and (max-width: 1023px) {
    .gallery-mosaic__col-width, .gallery-mosaic__item {
        /*width: 300px;*/
    }

    .article-body {
        padding-left: 10px;
    }

    .gallery-mosaic-fullscreen .gallery-fullscreen__image-container {
        max-height: calc(100vh - 250px);
    }

    .gallery-mosaic-fullscreen .gallery-fullscreen__inner .gallery-fullscreen__image-container {
        display: block;
        position: relative;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .gallery-mosaic__col-width, .gallery-mosaic__item {
        /*width: 270px;*/
    }

    .mobile-only {
        display: block;
    }

    .mobile-hide {
        display: none;
    }
}

.article-body.col_c .gallery-mosaic__col-width, .article-body.col_c .gallery-mosaic__item {
    width: 30%;
}

.gallery-tile-prev__item img {
    position: relative;
}

.gallery-tile-prev__list.items_3 .gallery-tile-prev__item:first-child,
.gallery-tile-prev__list.items_3 .gallery-tile-prev__item,
.gallery-tile-prev__item,
.gallery-tile-prev__item img,
.gallery-tile-prev__list.items_5 .gallery-tile-prev__item:first-child, .gallery-tile-prev__list.items_5 .gallery-tile-prev__item:nth-child(2),
.gallery-tile-prev__list.items_5 .gallery-tile-prev__item {
    height: auto;
}

.gallery-fullscreen__inner .gallery-fullscreen__image-container img {
    max-height: none;
}

.gallery-mosaic__item {
    max-height: none;
}


.gallery-mosaic {
    margin-top: 32px;
}

.article-body h2,
.article-body h1,
.article-body h3,
.article-body h4 {
    /*font-size: 1.5rem;*/
    line-height: 1.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #B3A170;
}

.article-img-small {
    display: none;
}

.article__announce-wrapper p:empty {
    display: none;
}

.article-body h1 *,
.article-body h2 *,
.article-body h3 *,
.article-body h4 * {
    color: #B3A170;
}

.article-body p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    overflow: hidden;
}

.article-body p:empty {
    /*margin-top: -2em;*/
}

.article-body br {
    display: none;
}

.article-announce .article__announce-image {
    height: auto;
}


@media screen and (max-width: 1279px) {
    .articles-block_v4 .article__teaser_vertical {
        height: auto;
    }
}

.article__teaser_vertical {
    height: auto;
}

.banner-240-400__inner {
    /*display: none;*/
}

@media screen and (max-width: 1280px) {
    .article__teaser_vertical {
        height: auto;
    }
}

@media screen and (max-width: 1023px) {
    .articles-block_v1 .col_c {
        position: relative;
        top: 0;
        right: 0;
    }

    .articles-block_v1 .col_c .article__teaser_small {
        display: block;
    }

    .articles-block_v1 .col_c .article__teaser_small {
        display: block;
    }

    .articles-block_v1 {
        min-height: 0;
    }

    .articles-block_v1 .col_l {
        /*width: 66.6%;*/
        /*display: flex;*/
    }

    .articles-block_v1 .col_l .article__teaser_small {
        width: 100%;
    }
}

.gallery-fullscreen__inner .gallery-fullscreen__image-container {
    display: flex;
    justify-content: center;
}

.field-userEmailSubscribe {
    width: 100%;
}

.help-block {
    position: absolute;
    color: red;
}

.gallery-fullscreen__inner .gallery-fullscreen__image-container img {
    max-height: 94vh;
    height: auto;
    width: auto;
    display: block;
    /* margin: 0 !important; */
    max-width: none;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .article-body.col_c {
        padding: 0 16px;
    }

    article .article-body .gallery-tile,
    article .article-body .gallery-mosaic {
        margin-left: 0;
    }

    .articles-block_v4 .article__teaser_vertical,
    .articles-block_v4 .article__teaser_vertical:first-child {
        height: auto;
    }

    .article-img-full {
        display: none;
    }

    .article-img-small {
        display: block;
    }

    .articles-block_v3 .articles-block__list .article__item:nth-child(3),
    .articles-block_v3 .articles-block__list .article__item,
    .articles-block_v1 .col_l .article__teaser_vertical {
        height: auto;
    }

    .gallery-fullscreen__inner .gallery-fullscreen__image-container {
        display: flex;
    }

    .gallery-fullscreen__inner .gallery-fullscreen__image-container img {
        /*max-width: 100%;*/
        max-height: 100% !important;
        max-width: 100%;
    }

    .gallery-mosaic-fullscreen .gallery-fullscreen__inner .swiper-button-next, .gallery-mosaic-fullscreen .gallery-fullscreen__inner .swiper-button-prev {
        top: auto;
    }
}


#loader {
    text-align: center;
    margin: 25px;
}

#loader img {
    display: block;
    margin: 0 auto;
    width: 75px;
}

@media screen and (max-width: 767px) {
    .articles-block_v2 .articles-block__col {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1023px) {
    .articles-block_v2 .articles-block__col_r .article__teaser_vertical {
        margin-bottom: 15px;
    }

    .articles-block_v2 .articles-block__col_r .article__teaser_vertical:nth-child(2) {
        display: block;
    }
}

body.page-branding_l {
    background-attachment: fixed;
}

.article-body p {
    word-break: break-word;
}

.main-content.one-column .article-body p {
    padding-left: 0;
    padding-right: 0;
}

.main-content.one-column .article-body p.swiper-slide__description {
    padding-left: 30px;
    padding-right: 30px;
}

#signUpForm .field-userEmailReg {
    width: 100%;
}

body .article-body > img {
    max-width: 100%;
}


.gallery {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    grid-row-gap: 1.2rem;
    grid-auto-rows: 159px;
    margin-bottom: 1rem;
}

.gallery-wrapper {
    margin-top: 3rem;
}

.item {
    /*border: 1px solid #888;*/
    text-align: center;
    overflow: hidden;
}

.item:nth-child(1), .item1 {

    grid-row: 1 /  span 3;
}

.item:nth-child(3), .item3 {

    grid-column: 3;
    grid-row: 1 /  span 3;
}

.item:nth-child(4), .item4 {

    grid-row: 2 /  span 2;
}

.item:nth-child(6), .item6 {

    grid-column: 2;
    grid-row: 4 /  span 3;
}

.item:nth-child(8), .item8 {

    grid-column: 1;
    grid-row: 5 /  span 3;
}

.item:nth-child(9), .item9 {

    grid-column: 3;
    grid-row: 5 /  span 3;
}

.item:nth-child(11), .item11 {

    grid-column: 1;
    grid-row: 8 /  span 2;
}

.item:nth-child(12), .item12 {

    grid-column: 2;
    grid-row: 8 /  span 3;
}

.item:nth-child(13), .item13 {

    grid-column: 3;
    grid-row: 8 /  span 2;
}

.social-share-wrapper {
    position: relative;
}

ul.social-share {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: row-reverse;
    top: -75px;

    /*right: 15px;*/
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

ul.social-share li {
    margin-left: 15px;
}

ul.social-share li:first-child {
    margin-left: 0;
}

ul.social-share li a:hover .social-svg {
    fill: #fff;
    background-color: #B3A170;
    border-color: transparent;
}

@media screen and (max-width: 1023px) {
    .gallery-fullscreen__inner .right-aside {
        display: block;
    }
}

.top-articles .h2 {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 0 22px;
    box-sizing: border-box;
    margin: 4px auto;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.top-articles .h2:hover a {
    color: #B3A170;
}

.top-articles .h3 {
    font-family: 'Spectral', serif;
    color: #FFFFFF;
    font-weight: normal;
    padding-right: 20px;
    margin-bottom: 8px;
}

.top-articles .h3:hover a {
    color: #B3A170;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    color: #B3A170;
    font-size: 1.6rem;
    text-align: center;
    padding: 28px 0 33px;
    font-weight: 700;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    color: #37383E;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3rem;
}

.h4 {
    font-family: 'Montserrat', sans-serif;
    color: #37383E;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin: 6px 0;
}

.h5 {
    font-family: 'Montserrat', sans-serif;
    color: #37383E;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.1rem;
    margin: 6px 0;
}

.h6 {
    font-family: 'Montserrat', sans-serif;
    color: #37383E;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    margin: 6px 0;
}

.article__teaser_small .h3 {
    font-family: 'Spectral', serif;
    font-size: 0.9rem;
    line-height: 1rem;
    min-height: 63px;
    margin: 0;
    font-weight: normal;
}

.info-popup .h3 {
    color: #B3A170;
}

.article__teaser_small:hover .h3 {
    color: #7E6F45;
}

.youtube-video-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.youtube-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}